@model IEnumerable<Entidad.Carro_Servicio>

@{
    ViewBag.Title = "listaS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listaS</h2>

<p>
  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Vehiculo_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Vehiculo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Vehiculo_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Vehiculo)
        </td>
        <td>

            @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.ID_Vehiculo_Servicio  })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Regresar", "Index")
</div>
