@model Entidad.Servicios

@{
    ViewBag.Title = "GetDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Regresar", "Index")
</p>
