@model IEnumerable<Entidad.Servicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicios</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Servicios</li>
    </ol>
</nav>

<p>
    @Html.ActionLink("Agregar Servicios", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new {  id=item.ID_Servicio }) |
            @Html.ActionLink("Detalles", "GetDetalle", new { id=item.ID_Servicio  }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.ID_Servicio })
        </td>
    </tr>
}

</table>
